/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* BODY */
body {
  font-family: Arial, sans-serif;
  background: #0f172a; /* DARK BACKGROUND */
  color: #e2e8f0;
  text-align: center;
}

/* HEADER */
header {
  background: #020617;
  color: #38bdf8;
  padding: 50px 20px;
}

header p {
  color: #94a3b8;
}

/* MAIN */
main {
  max-width: 900px;
  margin: auto;
  padding: 20px;
}

/* SECTIONS */
section {
  background: #020617;
  margin: 30px 0;
  padding: 30px;
  border-radius: 15px;
}

/* HEADINGS */
h2 {
  color: #38bdf8;
  margin-bottom: 15px;
}

/* ABOUT */
.about p {
  max-width: 700px;
  margin: auto;
  line-height: 1.6;
}

/* SKILLS GRID */
.skills-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 TOP */
  gap: 15px;
  margin-top: 20px;
}

/* SKILL BOX */
.skill-box {
  background: #1e293b;
  padding: 20px;
  border-radius: 10px;
  font-weight: bold;
  transition: 0.3s;
}

/* HOVER */
.skill-box:hover {
  background: #38bdf8;
  color: #020617;
}

/* PROJECT */
.project-card {
  background: #1e293b;
  padding: 20px;
  border-radius: 10px;
  margin-top: 15px;
}

/* FORM */
input, textarea {
  width: 80%;
  padding: 12px;
  margin: 10px 0;
  border-radius: 8px;
  border: none;
}

button {
  padding: 12px 25px;
  background: #38bdf8;
  color: #020617;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

/* RESPONSIVE */

/* TABLET */
@media (max-width: 768px) {
  .skills-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* MOBILE */
@media (max-width: 480px) {
  .skills-container {
    grid-template-columns: 1fr;
  }
}
